*{box-sizing: border-box;}
body { 
    overflow: hidden
}
.circle {
    background-image: linear-gradient(140deg, rgb(124, 223, 248) 50%, rgb(58, 121, 237));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    position:fixed;
    top: 0;
    width: 100%;
}
#chatForm #close {
    float: right;
}
#userImg{
    margin: 10px;
}
#userImg div i{
    font-size: xx-large;
    color: black;
}
#footerInput {
    padding: 20px;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(240, 240, 240);
}
#footerInput Input {
    border-radius: 5px;
}
#messageContainer {
    margin-top: 84px;
    height: 550px;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    background-color:rgb(240, 240, 240);
}
.userChat {
    margin: 10px 0;
    margin-left: auto;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 12px 15px;
    width:max-content;
    max-width: 90%;
    border-radius: 16px;
    border-bottom-right-radius: 0;
}
.botChat {
    margin: 10px 0;
    background-color: rgb(247, 247, 247);
    padding: 12px 15px;
    width:max-content;
    max-width: 90%;
    border-radius: 16px;
    border-bottom-left-radius: 0;
}
.list-group {
    margin: 10px 0;
    width:max-content;
    max-width: 90%;
    border-radius: 16px;
    background-color: rgb(247, 247, 247);
}